<router-outlet>
    <div class="headers">
        <div class="left-controls">
          <a [routerLink]="'/add'">
            <button class="add-movie-btn">+ Add Movie</button>
          </a>
        </div>
        <div class="right-controls">
          <app-search-component (searchQuery)="filterResults($event)"></app-search-component>
        </div>
      </div>
<section class="results">
    <ng-container class="res" *ngFor="let movie of filteredMovies">
        <app-list-item (movieDeleted)="onMovieDeleted($event)" [movie]="movie"></app-list-item>
    </ng-container>
</section>
</router-outlet>